@charset "utf-8";

/* Global resets */

html, html#nojs {
    height: 100%;
}

html#js {
    height: 100%;
}

body {
	font-size: 75%;	
	font-family: Arial, Helvetica, sans-serif;	
	min-height: 100%;
    margin: 0;
    padding: 0;
	position: relative;
}

a {
}
	a img {
		border: 0;
	}

form {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0 0 1em;
	padding: 0;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
    margin: 0;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}

/* - Global resets */


/* + Common classes */

.error {
	color: #ff0000;	
}

.no-border {
    border: 0 !important;
}

.no-float {
	overflow: hidden !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;	
}

.pseudo-link {
	border-bottom: 1px dashed #0000CC;
	text-decoration: none;
}

div.hr {
	font-size: 1px;
	height: 1px;
	margin: 1em 0;
	line-height: 1px;
}

input.text {
}

input.submit {
}

table.reset {
	border: 0;
	border-collapse: collapse;
}
	table.reset td,
	table.reset th {
		padding: 0;
	}

ul.news,
ul.menu, ul.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	ul.news li,
	ul.menu li {
		margin: 0;
		padding: 0;
	}
	
ul.tiles {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
	ul.tiles li {
		margin: 0;	
	}

ul.reset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	ul.reset li {
		margin: 0;
		padding: 0;
	}

/* - Common classes */

